*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #3BA5ED;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 5%;
}

body header{
    margin-bottom: 2%;
}

body header h1{
    color: whitesmoke;
}

section{
    background-color: whitesmoke;
    padding: 2%;
    border-radius: 10px;
    height: 400px;
    width: 450px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


section .image img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.image .greeting{
    text-align: center;
    margin-top: 5%;
}


footer span{
    color: whitesmoke;
}